.classfuente{
    height: 6rem;
    font-size: 1.5cm;
    font-family: 'Architects Daughter', cursive;
    
}
.card-body {
    font-size: x-large;
    font-family: 'Architects Daughter', cursive;
   
}
.col-lg-7{
    font-family: 'Comfortaa', cursive;
}
.input-group-mb-3{
    font-family: 'Architects Daughter', cursive;
}
.form-select{
    font-family: 'Architects Daughter', cursive;
}