<div class="containermt-3">
    <div class="card-body ">
        <div class="text-center  classfuente ">Articulo</div>
        <div class="form-group col-lg-7 mt-3">
            <label for="titulo">TITULO</label>
            <input type="text" id="titulo" class="form-control" [formControl]="titulo">
        </div>
        <div class="form-group  col-lg-7 mt-3">
            <label for="imagen">IMAGEN</label>
            <div class="input-group-mb-3">
                <input type="file" class="form-control" id="imagen">
              </div>
        </div>
        <div class="form-group col-lg-7 mt-3">
            <label for="categoria">CATEGORIA</label>
            <select class="form-select" label="" [formControl]="categoria">
              </select>
              <button class="btn btn-primary mt-3" type="button" routerLink="/crear-categoria">Crear Nueva Categoria</button>
        </div>
        <div class="form-group col-lg-7 mt-3">
            <label for="descripcion del error">DESCRIPCION DEL ERROR</label>
            <textarea  id="" cols="15" rows="6" class="form-control" [formControl]="descripcion"></textarea>
        </div>       
            <button class="btn btn-primary col-lg-7 justify-content-md-end mt-3 " (click)="guardar()" style="text-align: center;" type="submmit">Guardar</button>        
     </div>
</div>