<form class="row g-5 classfuente col-lg-7 mt-3">
    <div class="col-md-11">
        <label for="clasificacioncategoria" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="clasificacioncategoria" placeholder="clasifica tu categoria">
      </div>
      <div class="col-md-11">
        <label for="caracteristeicas" class="form-label">Caracteristicas</label>
        <textarea type="text" class="form-control" cols="15" rows="6" id="Caracteristicas" ></textarea>
      </div>
      <button class="btn btn-primary col-md-4  justify-content-md-end mt-3"  style="text-align: center;" type="submmit">Guardar</button>        
</form>